.aboust-us .container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 20px;
  align-items: center;
  margin-top: 100px;
}

.about-box {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/aboutus/about-bgi.jpg);
  padding: 72px 0 165px 72px;
}
.about-box__title {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: white;
}
