.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  z-index: 10;
}
.header-box {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.btn-hamburger {
  border: none;
  background-color: #ffffff;
  display: none;
}
.nav-list {
  @include reset-list;
  display: flex;
  margin-left: 26px;
}

.nav-item {
  margin-left: 32px;
}
.nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.button {
  width: 180px;
  height: 53px;
  background-color: #fcb72b;
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin-left: auto;
  color: #ffffff;
  border: none;
}
.button:hover {
  background-color: #fff;
  box-shadow: 0 0 2px 2px #fcb72b;
  color: #fcb72b;
}

@media only screen and (max-width: 650px) {
  .btn-hamburger {
    display: block;
  }
  .site-logo {
    width: 100%;
    display: block;
    max-width: 76px;
    margin-left: 150px;
  }

  .button {
    display: none;
  }
  .header-nav {
    display: none;
    padding: 0;
  }

  .header--adaptive .header-nav {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 130px;
    background: linear-gradient(
      180deg,
      rgba(254, 252, 247, 0.504981) 0%,
      #fefcf7 55.94%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .header--adaptive .nav-list {
    display: flex;
    flex-direction: column;
    transform: rotateX(180deg);
    text-align: center;
  }

  .header--adaptive .header-nav .nav-link {
    z-index: 15;
    display: inline-block;
    margin: 0;
    margin-top: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333d4b;
  }

  .header--adaptive .btn-hamburger {
    display: none;
  }
  .exit-icon {
    display: block;
  }
}
